#container {
  max-width: 300px;
  margin: auto;
}

h1 {
  font-family: "Merriweather Sans", sans-serif;
  letter-spacing: 2.2px;
}

#formSection {
  display: flex;
}

#searchForm {
  margin-bottom: 15px;
}

input[type=text] {
  flex: 1;
}

input[type=submit] {
  color: white;
  background-color: cornflowerblue;
  border: none;
}

#dataSection {
  display: flex;
  align-items: center;
  border: 1px solid black;
  visibility: hidden;
}

#weatherIcon {
  border-right: 1px solid black;
}

#text-data-wrapper {
  padding-left: 10px; 
}

.error {
  background: MistyRose;
}