#container {
  max-width: 300px;
  margin: auto;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 3.3px;
}

#searchForm {
  margin-bottom: 15px;
}

input[type=text] {
  width: 239px;
}

input[type=submit] {
  position: absolute;
  color: white;
  background-color: cornflowerblue;
  border: none;
  padding: 3px 6px;
}

#dataSection {
  display: flex;
  align-items: center;
  border: 1px solid black;
  visibility: hidden;
}

#weatherIcon {
  border-right: 1px solid black;
}

#text-data-wrapper {
  padding-left: 10px; 
}
