body {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
}

#container {
  max-width: 500px;
  margin: auto;
}

h1 {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 50px;
  text-align: center;
  letter-spacing: 2.2px;
}

#formSection {
  display: flex;
}

#searchForm {
  margin-bottom: 15px;
}

input[type=text] {
  font-size: 25px;
  flex: 1;
  min-width: 0;
}

input[type=submit] {
  font-size: 25px;
  color: white;
  background-color: cornflowerblue;
  border: none;
}

#dataSection {
  display: flex;
  align-items: center;
  border: 1px solid black;
  visibility: hidden;
}

#weatherIcon {
  border-right: 1px solid black;
}

img {
  width: 75px;
}

#text-data-wrapper {
  padding-left: 10px; 
}

.error {
  background: MistyRose;
}